body{
    background-color: black;
    color: white;
    font-family: Arial ;
}

.para{
    font-size: 30px;
    font-weight: bold;
}
.icon{
      height: 50px; 
}

.move-button{
    background-color: transparent;
    border: 3px solid white;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin-right : 10px;
    cursor: pointer;
}

.js-result{
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
}

.js-score{
    margin-top: 60px;
}

.js-reset-button{
    background-color: white;
    font-size: 15px;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}